* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Colors */
:root {
  --dark: #191919;
  --medium: #787878;
  --light: #f3f3f3;
  --accent: #45a5ff;
  --transp-white: rgba(255, 255, 255, 0.9);
  --transp-light: rgba(243, 243, 243, 0.5);
  --transp-black: rgba(0, 0, 0, 0.8);
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Noselect (prevents blue box over text on buttons) */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Play", sans-serif;
  color: var(--light);
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 45px;
  color: var(--dark);
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 14px;
}

p,
li {
  font-family: "Montserrat", sans-serif;
}

p {
  color: var(--medium);
}

li {
  color: var(--dark);
}

nav li {
  color: var(--medium);
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon-md {
  width: 20px;
}

.icon-lg {
  width: 30px;
  transition: 500ms;
  cursor: pointer;
}

.nav-icon {
  width: 75px;
  fill: var(--dark);
}

.icon-xl {
  width: 100px;
}

.icon-light {
  fill: var(--light);
}

.icon-light:hover {
  cursor: pointer;
  fill: var(--medium);
}

.content-bounds {
  width: 80vw;
  justify-content: space-between;
}

.middle-bounds {
  width: 80vw;
  justify-content: center;
  flex-direction: column;
}

/* Top Bar */
.top-bar {
  width: 100%;
  height: 40px;
  background: var(--transp-black);
  justify-content: center;
  position: fixed;
  z-index: 3;
}

.contact-bar,
.contact-item,
.top-bar,
.social-bar,
.content-bounds,
.middle-bounds {
  display: flex;
  align-items: center;
}

.contact-item {
  margin-right: 20px;
}

.contact-bar svg {
  margin-right: 5px;
}

.social-bar svg {
  margin-left: 20px;
}

#navbar {
  height: 100px;
  width: 100%;
  position: fixed;
  top: -140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--transp-white);
  transition: top 0.5s;
  z-index: 2;
}

#navbar ul {
  list-style: none;
  display: flex;
}

#navbar ul li {
  margin-left: 50px;
}

#navbar ul li:hover {
  font-weight: 700;
}

/* Showcase */
.showcase {
  height: 100vh;
  background-image: url(./img/jonathan-gallegos-5FGqfV6UjzI-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.showcase-overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: var(--transp-black);
}

#showcase-content {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

#showcase-line {
  width: 310px;
  height: 1px;
  background: var(--light);
  margin-bottom: 2px;
}

#showcase-content h4 {
  margin-bottom: 20px;
}

.showcase-btn {
  font-family: "Play", sans-serif;
  font-size: 16px;
  background: transparent;
  border: 2px solid var(--light);
  width: 150px;
  height: 50px;
  border-radius: 5px;
  color: var(--light);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  transition: 400ms ease-in-out;
  margin: 0 10px 0 10px;
}

.showcase-btn:hover {
  width: 170px;
  background: var(--medium);
  border: 2px solid var(--medium);
  margin: 0;
}

.showcase-btn:focus {
  border: 2px solid var(--accent);
  outline: none;
}

.showcase-btn span {
  color: transparent;
  transition: 500ms;
  margin-left: -20px;
}

.showcase-btn:hover span {
  color: var(--light);
  margin-left: 0;
}
