* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Colors */
:root {
  --dark: #191919;
  --medium: #787878;
  --light: #f3f3f3;
  --accent: #033563;
  --transp-white: rgba(255, 255, 255, 0.9);
  --transp-light: rgba(243, 243, 243, 0.5);
  --transp-dark: rgba(25, 25, 25, 0.65);
  --transp-black: rgba(0, 0, 0, 0.9);
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--light);
}

/* Noselect (prevents blue box over text on buttons) */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Play", sans-serif;
  color: var(--light);
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 45px;
  color: var(--dark);
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 14px;
}

p,
li {
  font-family: "Montserrat", sans-serif;
}

p {
  color: var(--medium);
}

li {
  color: var(--dark);
}

nav li {
  color: var(--medium);
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-accent-strong {
  color: var(--accent);
  font-weight: bold;
}

.icon-md {
  width: 20px;
}

.icon-lg {
  width: 30px;
  transition: 500ms;
  cursor: pointer;
}

.nav-icon {
  width: 75px;
  fill: var(--dark);
}

.icon-xl {
  width: 100px;
}

.icon-light {
  fill: var(--light);
}

.icon-light:hover {
  cursor: pointer;
  fill: var(--medium);
}

.expandable-container {
  width: 100%;
  min-height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.content-bounds {
  width: 80vw;
  justify-content: space-between;
}

.middle-bounds {
  width: 80vw;
  justify-content: center;
  flex-direction: column;
}

/* Top Bar */
.top-bar {
  width: 100%;
  height: 40px;
  background: var(--transp-black);
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 3;
}

.contact-bar,
.contact-item,
.top-bar,
.social-bar,
.content-bounds,
.middle-bounds,
#promobar,
.strip,
.strip-content {
  display: flex;
  align-items: center;
}

.contact-item {
  margin-right: 20px;
}

.contact-item:hover svg,
.contact-item:hover h5,
.contact-item:hover #Path_3 {
  fill: var(--medium);
  color: var(--medium);
  cursor: pointer;
}

.contact-bar svg {
  margin-right: 5px;
}

.social-bar svg {
  margin-left: 20px;
  transition: 500ms;
}

.social-bar svg:hover {
  transform: scale(1.1);
}

/* Navbar */

#navbar {
  height: 100px;
  width: 100%;
  position: fixed;
  top: -140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--transp-white);
  transition: top 0.5s;
  z-index: 5;
}

.navbar-shown {
  top: 40px !important;
}

#navbar ul {
  list-style: none;
  display: flex;
}

#navbar ul li {
  margin-left: 50px;
}

#navbar ul li:hover {
  font-weight: 700;
}

/* Promo Bar */

#promobar {
  height: 40px;
  width: 100%;
  position: fixed;
  top: -80px;
  justify-content: center;
  text-align: center;
  background: var(--accent);
  transition: top 0.5s;
  z-index: 3;
}

#promobar .content-bounds {
  justify-content: center;
}

/* Showcase */
.showcase {
  height: 100vh;
  background-image: url(./img/jonathan-gallegos-5FGqfV6UjzI-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.showcase-overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: var(--transp-dark);
}

#showcase-content {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

#showcase-line {
  width: 310px;
  height: 1px;
  background: var(--light);
  margin-bottom: 2px;
}

#showcase-content h4 {
  margin-bottom: 20px;
}

.showcase-btn {
  font-family: "Play", sans-serif;
  font-size: 16px;
  background: transparent;
  border: 2px solid var(--light);
  width: 150px;
  height: 50px;
  border-radius: 5px;
  color: var(--light);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  transition: 400ms ease-in-out;
  margin: 0 10px 0 10px;
}

.showcase-btn:hover {
  width: 170px;
  background: var(--medium);
  border: 2px solid var(--medium);
  margin: 0;
}

.showcase-btn:focus {
  border: 2px solid var(--accent);
  outline: none;
}

.showcase-btn span {
  color: transparent;
  transition: 500ms;
  margin-left: -20px;
}

.showcase-btn:hover span {
  color: var(--light);
  margin-left: 0;
}

#packages {
  position: absolute;
  bottom: 40px;
}

#packages-content {
  width: 90vw;
  margin-top: 40px;
}

.flex-3col {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
.card {
  margin: 10px;
  height: fit-content;
  width: 365px;
  border-radius: 10px;
  background: var(--transp-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.card-img {
  height: 290px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-position: center;
  background-size: cover;
  transition: 1s;
  z-index: 1;
}

.card:hover .card-img {
  transform: scale(1.05);
}

.card #silver {
  background-image: url("./img/packageImg/silver\ package.jpg");
}

.card #gold {
  background-image: url("./img/packageImg/gold\ package.jpg");
}

.card #platinum {
  background-image: url("./img/packageImg/platinum\ package.png");
}

.card .bar {
  width: 100%;
  height: 30px;
  background: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.card p {
  margin-top: 5px;
  width: 95%;
  text-align: justify;
}

.show-details-btn {
  margin-top: 50px;
  color: var(--dark);
  cursor: pointer;
}

#silver-items,
#gold-items,
#platinum-items {
  display: none;
}

.card ul {
  list-style: none;
  width: 355px;
}

.card ul li {
  padding: 5px;
}

.card ul li:nth-child(2n) {
  background: var(--transp-light);
}

.card-buttons {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card-btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Play", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms;
}

.compare-btn {
  border: 3px solid var(--accent);
  color: var(--accent);
}

.compare-btn:hover {
  background: var(--accent);
  color: var(--light);
}

.book-btn {
  background: var(--accent);
  color: var(--light);
}

.book-btn:hover {
  background: var(--light);
  border: 3px solid var(--accent);
  color: var(--accent);
}

.package-name {
  width: 100%;
  height: 60px;
  font-size: 35px;
  font-family: "Play", sans-serif;
  color: var(--light);
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 5px var(--transp-dark);
}

#silver-package {
  background-color: #e7eff9;
  background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
}

#gold-package {
  background-color: #d99058;
  background-image: linear-gradient(315deg, #d99058 0%, #f8de7e 74%);
}

#platinum-package {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

.strip {
  width: 100%;
  min-height: 25vh;
  background: var(--dark);
}

.strip-content {
  width: 60%;
  text-align: center;
}

.strip,
.strip-content {
  justify-content: center;
}

.strip-content h3 {
  font-family: "Montserrat", sans-serif;
}

#choose-us-strip {
  flex-direction: column;
  background: var(--light);
  margin-top: 5vh;
}

.choose-us-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.choose-us-item svg {
  fill: var(--accent);
  margin-right: 20px;
}

.choose-us-item h3 {
  color: var(--dark);
}

.flex-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  margin: 5vh 0;
}

/* About Page */
#about-content {
  margin-top: 60px;
  margin-bottom: 40px;
}

#about-strip h4 {
  font-family: "Montserrat", sans-serif;
}

#about-details h2 {
  color: var(--dark);
  margin-top: 40px;
  margin-bottom: 40px;
}

#about-details h3 {
  color: var(--accent);
}

#about-details p {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 40px;
}

/* Pricing Page */
#pricing-content {
  margin-top: 60px;
  margin-bottom: 40px;
}

table {
  width: 80%;
}

table th:nth-child(n + 2) {
  width: 10%;
}

table th {
  background: var(--accent);
  color: var(--light);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  height: 50px;
}

table tr:nth-child(2n) {
  background: var(--transp-white);
}

table tr td:nth-child(1) {
  text-align: left;
  padding-left: 5px;
}

table tr td {
  color: var(--dark);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  height: 50px;
}

table tr:nth-child(2) td {
  font-weight: 700;
}

/* COVID PREVENTION BAR */
#covid-bar {
  height: 25px;
  width: 100vw;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  background: var(--accent);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

#covid-details {
  position: fixed;
  bottom: 25px;
  z-index: 5;
  display: none;
}

#covid-strip {
  width: 100vw;
  background: var(--transp-white);
}

.covid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.covid-item svg {
  fill: var(--accent);
}

.covid-item h4 {
  color: var(--dark);
}
